@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

* { 
    padding: 0; 
    margin: 0; 
    box-sizing: border-box;
}

h1
{
    font-family: 'Rubik Mono One', Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 5.2em;
    text-align: center;
}
canvas { 
    background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);    
    display: block; 
    margin: 0 auto; 
    border-radius: 5px;
    cursor: none;
}

.game-over-notify {
    position: fixed;
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.801);
    align-items: center;
    justify-content: center;
    font-family: 'Rubik Mono One', Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 40px;
    color: rgb(255, 0, 0);
  }

.win-notify {
    position: fixed;
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.801);
    align-items: center;
    justify-content: center;
    font-family: 'Rubik Mono One', Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 40px;
    color: rgb(0, 255, 76);
}

